<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.hfad.starbuzz">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TopLevelActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".DrinkCategoryActivity"
            android:label="@string/label_drink_category_activity">
        </activity>
        <activity android:name=".DrinkActivity">
        </activity>
        <activity android:name=".FoodCategoryActivity">
        </activity>
        <activity android:name=".FoodActivity">
        </activity>
        <activity android:name=".StoresCategoryActivity">
        </activity>
        <activity android:name=".StoresActivity">
        </activity>
    </application>

</manifest>